SCADA/DatabaseManager/Connected Services/ServiceReference/UserProcessing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="granicna_vrednost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ime_velicine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prioritet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:complexType name="ArrayOfAI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AI" nillable="true" type="tns:AI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAI" nillable="true" type="tns:ArrayOfAI" />
  <xs:complexType name="AI">
    <xs:sequence>
      <xs:element minOccurs="0" name="IO_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alarms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="high_limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="low_limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="onoff_scan" type="xs:boolean" />
      <xs:element minOccurs="0" name="scan_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AI" nillable="true" type="tns:AI" />
  <xs:complexType name="ArrayOfDI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DI" nillable="true" type="tns:DI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDI" nillable="true" type="tns:ArrayOfDI" />
  <xs:complexType name="DI">
    <xs:sequence>
      <xs:element minOccurs="0" name="IO_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="onoff_scan" type="xs:boolean" />
      <xs:element minOccurs="0" name="scan_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DI" nillable="true" type="tns:DI" />
  <xs:complexType name="AO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IO_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="high_limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inital_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="low_limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AO" nillable="true" type="tns:AO" />
  <xs:complexType name="DO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IO_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inital_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DO" nillable="true" type="tns:DO" />
</xs:schema>