SCADA/DatabaseManager/Connected Services/ServiceReference/UserProcessing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserProcessing" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59065/UserProcessing.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59065/UserProcessing.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59065/UserProcessing.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProcessing_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_sacuvajXML_InputMessage">
    <wsdl:part name="parameters" element="tns:sacuvajXML" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_sacuvajXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:sacuvajXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_upisivanjeVrednostiIzlaznogTaga_InputMessage">
    <wsdl:part name="parameters" element="tns:upisivanjeVrednostiIzlaznogTaga" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_upisivanjeVrednostiIzlaznogTaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:upisivanjeVrednostiIzlaznogTagaResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_ukljucivanjeIsklucivanjeScan_InputMessage">
    <wsdl:part name="parameters" element="tns:ukljucivanjeIsklucivanjeScan" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_ukljucivanjeIsklucivanjeScan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ukljucivanjeIsklucivanjeScanResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_prikazVrednostiIzlaznihTagova_InputMessage">
    <wsdl:part name="parameters" element="tns:prikazVrednostiIzlaznihTagova" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_prikazVrednostiIzlaznihTagova_OutputMessage">
    <wsdl:part name="parameters" element="tns:prikazVrednostiIzlaznihTagovaResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_pravljenjeTaga_InputMessage">
    <wsdl:part name="parameters" element="tns:pravljenjeTaga" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_pravljenjeTaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:pravljenjeTagaResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_brisanjeTaga_InputMessage">
    <wsdl:part name="parameters" element="tns:brisanjeTaga" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_brisanjeTaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:brisanjeTagaResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProcessing">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/DoWork" message="tns:IUserProcessing_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/DoWorkResponse" message="tns:IUserProcessing_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sacuvajXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/sacuvajXML" message="tns:IUserProcessing_sacuvajXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/sacuvajXMLResponse" message="tns:IUserProcessing_sacuvajXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="upisivanjeVrednostiIzlaznogTaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/upisivanjeVrednostiIzlaznogTaga" message="tns:IUserProcessing_upisivanjeVrednostiIzlaznogTaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/upisivanjeVrednostiIzlaznogTagaResponse" message="tns:IUserProcessing_upisivanjeVrednostiIzlaznogTaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ukljucivanjeIsklucivanjeScan">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/ukljucivanjeIsklucivanjeScan" message="tns:IUserProcessing_ukljucivanjeIsklucivanjeScan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/ukljucivanjeIsklucivanjeScanResponse" message="tns:IUserProcessing_ukljucivanjeIsklucivanjeScan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="prikazVrednostiIzlaznihTagova">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/prikazVrednostiIzlaznihTagova" message="tns:IUserProcessing_prikazVrednostiIzlaznihTagova_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/prikazVrednostiIzlaznihTagovaResponse" message="tns:IUserProcessing_prikazVrednostiIzlaznihTagova_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pravljenjeTaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/pravljenjeTaga" message="tns:IUserProcessing_pravljenjeTaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/pravljenjeTagaResponse" message="tns:IUserProcessing_pravljenjeTaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="brisanjeTaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/brisanjeTaga" message="tns:IUserProcessing_brisanjeTaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/brisanjeTagaResponse" message="tns:IUserProcessing_brisanjeTaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/Registration" message="tns:IUserProcessing_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/RegistrationResponse" message="tns:IUserProcessing_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/Login" message="tns:IUserProcessing_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/LoginResponse" message="tns:IUserProcessing_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/Logout" message="tns:IUserProcessing_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/LogoutResponse" message="tns:IUserProcessing_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserProcessing" type="tns:IUserProcessing">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sacuvajXML">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/sacuvajXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upisivanjeVrednostiIzlaznogTaga">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/upisivanjeVrednostiIzlaznogTaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ukljucivanjeIsklucivanjeScan">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/ukljucivanjeIsklucivanjeScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prikazVrednostiIzlaznihTagova">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/prikazVrednostiIzlaznihTagova" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pravljenjeTaga">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/pravljenjeTaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="brisanjeTaga">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/brisanjeTaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProcessing">
    <wsdl:port name="BasicHttpBinding_IUserProcessing" binding="tns:BasicHttpBinding_IUserProcessing">
      <soap:address location="http://localhost:59065/UserProcessing.svc/UserProcessing" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>