SCADA/ReportManager/Connected Services/ServiceReference/Report_Manager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Report_Manager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59065/Report-Manager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59065/Report-Manager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59065/Report-Manager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReport_Manager_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sveVrednostiSaOdredjenimIdentifikatorom_InputMessage">
    <wsdl:part name="parameters" element="tns:sveVrednostiSaOdredjenimIdentifikatorom" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sveVrednostiSaOdredjenimIdentifikatorom_OutputMessage">
    <wsdl:part name="parameters" element="tns:sveVrednostiSaOdredjenimIdentifikatoromResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_poslednjaVrednostDItaga_InputMessage">
    <wsdl:part name="parameters" element="tns:poslednjaVrednostDItaga" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_poslednjaVrednostDItaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:poslednjaVrednostDItagaResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_poslednjaVrednostAItaga_InputMessage">
    <wsdl:part name="parameters" element="tns:poslednjaVrednostAItaga" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_poslednjaVrednostAItaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:poslednjaVrednostAItagaResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sveVrednostiTagovaUOdredjenomVremenu_InputMessage">
    <wsdl:part name="parameters" element="tns:sveVrednostiTagovaUOdredjenomVremenu" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sveVrednostiTagovaUOdredjenomVremenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:sveVrednostiTagovaUOdredjenomVremenuResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sviAlarmiOdredjenVremPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:sviAlarmiOdredjenVremPeriod" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sviAlarmiOdredjenVremPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:sviAlarmiOdredjenVremPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sviAlarmiOdredjenogPrioriteta_InputMessage">
    <wsdl:part name="parameters" element="tns:sviAlarmiOdredjenogPrioriteta" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_sviAlarmiOdredjenogPrioriteta_OutputMessage">
    <wsdl:part name="parameters" element="tns:sviAlarmiOdredjenogPrioritetaResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IReport_Manager_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IReport_Manager">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/DoWork" message="tns:IReport_Manager_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/DoWorkResponse" message="tns:IReport_Manager_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sveVrednostiSaOdredjenimIdentifikatorom">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/sveVrednostiSaOdredjenimIdentifikatorom" message="tns:IReport_Manager_sveVrednostiSaOdredjenimIdentifikatorom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/sveVrednostiSaOdredjenimIdentifikatoromResponse" message="tns:IReport_Manager_sveVrednostiSaOdredjenimIdentifikatorom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="poslednjaVrednostDItaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/poslednjaVrednostDItaga" message="tns:IReport_Manager_poslednjaVrednostDItaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/poslednjaVrednostDItagaResponse" message="tns:IReport_Manager_poslednjaVrednostDItaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="poslednjaVrednostAItaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/poslednjaVrednostAItaga" message="tns:IReport_Manager_poslednjaVrednostAItaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/poslednjaVrednostAItagaResponse" message="tns:IReport_Manager_poslednjaVrednostAItaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sveVrednostiTagovaUOdredjenomVremenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/sveVrednostiTagovaUOdredjenomVremenu" message="tns:IReport_Manager_sveVrednostiTagovaUOdredjenomVremenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/sveVrednostiTagovaUOdredjenomVremenuResponse" message="tns:IReport_Manager_sveVrednostiTagovaUOdredjenomVremenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sviAlarmiOdredjenVremPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/sviAlarmiOdredjenVremPeriod" message="tns:IReport_Manager_sviAlarmiOdredjenVremPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/sviAlarmiOdredjenVremPeriodResponse" message="tns:IReport_Manager_sviAlarmiOdredjenVremPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sviAlarmiOdredjenogPrioriteta">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/sviAlarmiOdredjenogPrioriteta" message="tns:IReport_Manager_sviAlarmiOdredjenogPrioriteta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/sviAlarmiOdredjenogPrioritetaResponse" message="tns:IReport_Manager_sviAlarmiOdredjenogPrioriteta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport_Manager/Login" message="tns:IReport_Manager_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport_Manager/LoginResponse" message="tns:IReport_Manager_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReport_Manager" type="tns:IReport_Manager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sveVrednostiSaOdredjenimIdentifikatorom">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/sveVrednostiSaOdredjenimIdentifikatorom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="poslednjaVrednostDItaga">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/poslednjaVrednostDItaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="poslednjaVrednostAItaga">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/poslednjaVrednostAItaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sveVrednostiTagovaUOdredjenomVremenu">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/sveVrednostiTagovaUOdredjenomVremenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sviAlarmiOdredjenVremPeriod">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/sviAlarmiOdredjenVremPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sviAlarmiOdredjenogPrioriteta">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/sviAlarmiOdredjenogPrioriteta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IReport_Manager/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Report_Manager">
    <wsdl:port name="BasicHttpBinding_IReport_Manager" binding="tns:BasicHttpBinding_IReport_Manager">
      <soap:address location="http://localhost:59065/Report-Manager.svc/ReportManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>