SCADA/ReportManager/Connected Services/ServiceReference/Report-Manager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagVrednost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagVrednost" nillable="true" type="tns:TagVrednost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagVrednost" nillable="true" type="tns:ArrayOfTagVrednost" />
  <xs:complexType name="TagVrednost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="tag_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vrednost" type="xs:double" />
      <xs:element minOccurs="0" name="vreme_kreacije" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagVrednost" nillable="true" type="tns:TagVrednost" />
  <xs:complexType name="ArrayOfAlarmInformacija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmInformacija" nillable="true" type="tns:AlarmInformacija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmInformacija" nillable="true" type="tns:ArrayOfAlarmInformacija" />
  <xs:complexType name="AlarmInformacija">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ime_velicine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prioritet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vreme_aktivacije" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmInformacija" nillable="true" type="tns:AlarmInformacija" />
</xs:schema>